In [24]:
#import dependencies
import requests
import pandas as pd
from census import Census
from us import states
from config import c_key

c = Census(c_key, year=2013)

In [67]:
#QUEREY PARAMETER
#occupation query prefix
oc = "C24010_"
#construction occupation codes
con = ["030E", "031E", "032E", "033E","066E", "067E", "068E", "069E"]
con_e = ["C24010_" + c for c in con]
#print(con_e)

#male STEM occupation codes
stem = ["007E", "008E", "009E","043E", "044E", "045E"]
#female STEM occupation codes
stem_e = ["C24010_" + s for s in stem]
#print(stem_e)

#active millitary citizens
mil = "B23025_006E"

#number of employed citizens
emp = "B23025_004E"

#per capita income
inc_pc = "B19301_001E"

#citizens below poverty line
poverty = "B17001_003E"

#number of citizens holding bachelor's degrees
bach = "B15003_022E"

In [70]:
#census attribute codes: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b
c_data = c.acs5.get(("NAME", mil+","+emp+","+inc_pc+","+poverty+","+bach,
                    'C24010_030E', 'C24010_031E', 'C24010_032E', 'C24010_033E', 
                    'C24010_066E', 'C24010_067E','C24010_068E', 'C24010_069E',
                    'C24010_007E', 'C24010_008E', 'C24010_009E', 'C24010_043E', 
                    'C24010_044E', 'C24010_045E','B23025_002E','B01003_001E',"B15003_002E"), 
                    {'for': 'county:201','in': 'state:48'})
#add api data to dataframe
df=pd.DataFrame(c_data)

#rename columns
df.columns = ['Total Population','Residents w/o HS Eduaction','Resident w/ Bachelors Degree','Residents Below Poverty Line',
             'Per Capita Income', 'Employed Residents','Labor Force','Active Military','S1','S2','S3','C1','C2','C3','C4',
                'S4','S5','S6','C5','C6','C7','C8','Location','County','State',]
df

,Total Population,Residents w/o HS Eduaction,Resident w/ Bachelors Degree,Residents Below Poverty Line,Per Capita Income,Employed Residents,Labor Force,Active Military,S1,S2,...,S4,S5,S6,C5,C6,C7,C8,Location,County,State
0,4182285.0,59098.0,479559.0,347326.0,27899.0,2156598.0,1970541.0,1558.0,92469.0,32854.0,...,28058.0,11507.0,8860.0,7016.0,508.0,3841.0,2667.0,"Harris County, Texas",201,48

In [71]:
#calcualte new columns
df['Construction Residents']=(df['C1']+df['C2']+df['C3']+df['C4']+df['C5']+df['C6']+df['C7']+df['C8'])
df['STEM Residents']=(df['S1']+df['S2']+df['S3']+df['S4']+df['S5']+df['S6'])
df['Poverty Percentage']=df['Residents Below Poverty Line']/df['Total Population']

,Total Population,Residents w/o HS Eduaction,Resident w/ Bachelors Degree,Residents Below Poverty Line,Per Capita Income,Employed Residents,Labor Force,Active Military,S1,S2,...,C5,C6,C7,C8,Location,County,State,Construction Residents,STEM Residents,Poverty Percentage
0,4182285.0,59098.0,479559.0,347326.0,27899.0,2156598.0,1970541.0,1558.0,92469.0,32854.0,...,7016.0,508.0,3841.0,2667.0,"Harris County, Texas",201,48,460624.0,221304.0,0.083047

In [74]:
#filter df
clean_df = df[['Total Population','Per Capita Income','Residents Below Poverty Line','Poverty Percentage','Residents w/o HS Eduaction','Resident w/ Bachelors Degree',
              'Employed Residents','Labor Force','Active Military','Construction Residents','STEM Residents',
              'Location']]
#rotate
pd.melt(clean_df)

                        variable                 value
0               Total Population           4.18228e+06
1              Per Capita Income                 27899
2   Residents Below Poverty Line                347326
3             Poverty Percentage             0.0830469
4     Residents w/o HS Eduaction                 59098
5   Resident w/ Bachelors Degree                479559
6             Employed Residents            2.1566e+06
7                    Labor Force           1.97054e+06
8                Active Military                  1558
9         Construction Residents                460624
10                STEM Residents                221304
11                      Location  Harris County, Texas